*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
  color: white;
} */
a {
  text-decoration: none;
  color: inherit;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.topNavBar{
  padding: 20px 16px 20px 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.topNavBar > .logo{
  font-size: 24px;
  font-family: 'Arial Black';
}
.topNavBar > .logo > .rs{
  color: #e6686a;
  margin-right: 4px;
}
.topNavBar > .logo > .card{
  color: #9a9da2;
}
.topNavBar > nav{
  float: right;
}
.topNavBar > nav > ul{
  list-style: none;
  padding-top: 7px;
}
.topNavBar > nav > ul > li{
  float: left;
  margin: 0 17px;
}
.topNavBar > nav > ul > li > a{
  font-size: 12px;
  color: #b7b7b7;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding: 5px 0;
}
.topNavBar > nav > ul > li > a:hover{
  border-bottom: 3px solid #e06567;
}

.banner {
  background-image: url(./img/rs-cover.jpg);
  background-position: center center;
  background-size: cover;
  height: 515px;
}
.banner .mask{
  height: 515px;
  background-color: rgba(0, 0, 0, 0.8);
}

.userCard {
  border: 1px solid red;
  max-width: 940px;
  margin: 0 auto;
}
.userCard .welcome{
  color: white;
  background: #e6686a;
  padding: 4px 10px;
  line-height: 22px;
  display: inline-block;
}

.userCard .triangle{
  display: block;
  width: 0;
  border: 10px solid transparent;
  border-top-width: 0;
  border-left-color: #e6686a; 
  margin-left: 5px;
}